* {
    margin: 0%;
    padding: 0%;
}



.Topbar_Wrapper {
    min-height: 100px;
}

.contact{
    float: left;
}

.mail {
    float: left;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.nav {
    float: right;
}

.nav ul li {
    float: left;
}

.logo {
    padding: 0;
    width: 20%;
}

.logo_icon {
    float: right;
}